Dapper.Extensions.Snapper/Dapper.Extensions.Snapper.Tests/bin/
Dapper.Extensions.Snapper/Dapper.Extensions.Snapper.Tests/obj/
Dapper.Extensions.Snapper/Dapper.Extensions.Snapper/obj/
Dapper.Extensions.Snapper/Dapper.Extensions.Snapper/bin/
Dapper.Extensions.Snapper/Dapper.Extensions.Snapper/v16/TestStore/
